body {
    margin: 0;
    padding: 0;
    /* background: #5CC9F5; */
    line-height: 1.6rem;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
img {border-width: 0px;}
a{
	color: #000;
	text-decoration: none;
	outline:none;
	border:none;
}
.list, .list li, .list-left li {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.pos-f {
	position: fixed;
}
.left-100 {
	width: 100%;
    height: 100%;
    float: left;
}
.blur {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.tr3, .list li {
	transition: all .3s;
}
.hidden {
    display: none;
}
.click-cursor, .icon-donate, .list li {
    cursor: pointer;
}
#drinks-box .opacity-show {
    opacity: 1;
}
#drinks-box {
    width: 320px;
    height: 240px;
	text-align: center;
	left: calc(50% - 160px);
	top: calc(50% - 120px);
    position: fixed;
}
#drinks-icons {
    background: no-repeat center center url(https://doc.hermitlsr.top/post/icon/text.png);
}
.drinks-button>div {
    position: absolute;
    top: 0;
    left: 0;
	transition: all 0.3s;
	transform-style: preserve-3d;
    transform-origin: center center;
}
.icon-donate {
    width: 64px;
    height: 64px;
    position: absolute;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
}
.icon-donate img {
    max-width: 64px;
    max-height: 64px;
}
#drinks-button-box {
    display: none;
    opacity: 0;
    transform: scale(1.3,1.3);
}
#drinks-button-bg {
    position: absolute;
    top: 70px;
    left: 0;
    height: 100px;
    opacity: 0;
}
#donate-buttons {
    position: absolute;
    overflow: hidden;
    top: calc(50% - 14px);
    left: 20px;
    height: 28px;
    border-radius: 6px;
    background-color: #F8F8F8;
    box-shadow: 0 10px 20px 1px rgba(221, 221, 221, 0.5);
}
#donate-buttons a, #github-box a {
    display: block;
}
li[id$="_donate"] {
    position: relative;
    float: left;
    width: 70px;
    height: 28px;
    line-height: 600px;
    overflow: hidden;
	cursor: pointer;
	background: no-repeat center center;
    background-size: 45px;
	float: left;
    text-align: center;
}
li[id$="_donate"]::after {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(50% - 5px);
    height: 0;
    width: 0;
    opacity: 0;
	border: 5px solid #F8F8F8;
	border-color: #F8F8F8 transparent transparent transparent;
    transition: all .3s;
}
li[id$="_donate"]:hover::after {
    opacity: 1;
    top: 0px;
}
#github-box {
    width: 32px;
    height: 32px;
    position: absolute;
    top: calc(50% - 16px);
    background: no-repeat center center url(https://doc.hermitlsr.top/post/icon/github.svg);
    background-size: contain;
    right: 72px;
    line-height: 600px;
    overflow: hidden;
    transform: rotatez(20deg );
    opacity: 0;
    transition: all .3s ease-out;
}
#drinks-button-box:hover #github-box, #drinks-button-box.Mobile #github-box {
    top: calc(50% - 40px);
    right: 64px;
    transform: rotatez(5deg );
    opacity: 0.8;
}
#paypal_donate {
    background-image: url(https://doc.hermitlsr.top/post/icon/paypal.svg);
}
#qq_donate {
    background-image: url(https://doc.hermitlsr.top/post/icon/qq.svg);
}
#alipay_donate{
    background-image: url(https://doc.hermitlsr.top/post/icon/alipay.svg);
}

#wechat_donate{
    background-image: url(https://doc.hermitlsr.top/post/icon/wechat.svg);
}
#drinks-qrcodes {
    display: none;
}
#drinks-qrcode {
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    width: 180px;
    height: 180px;
	background: #F8F8F8 no-repeat center center url(https://doc.hermitlsr.top/post/icon/WeChanSQ.png);
    background-size: 160px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(103, 207, 248, 0.5);
}

/* 动画 */
#drinks-icons, #drinks-button-box {filter: blur(0px);}
.donate-animation-1>#drinks-icons, .donate-animation-4>#drinks-icons,.donate-animation-3>#drinks-button-box {
    transform: scale(0.7,0.7);
    filter: blur(2px);
    display: block;
    opacity: 1;
}
.donate-animation-1>#drinks-button-box,.donate-animation-4>#drinks-button-box,.donate-animation-3>#drinks-qrcodes {
    display: block;
    opacity: 1;
    transform: scale(1,1);
}
.donate-animation-2>#drinks-button-box,.donate-animation-4>#drinks-qrcodes, .hideBox {
    display: block;
    transform: scale(1,1);
    animation-name:hideBox;
    animation-duration:0.3s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}

.donate-animation-3>#drinks-icons {
    transform: scale(0.4,0.4);
    filter: blur(2px);
}
.showBox {
    animation-name:showBox;
    animation-duration:0.3s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}
@keyframes showBox {
	from {
        opacity: 0;
        transform: scale(1.3,1.3);
	}
	to {
        opacity: 1;
        transform: scale(1,1);
	}
}
@keyframes hideBox {
	from {
        opacity: 1;
        transform: scale(1,1);
	}
	to {
        opacity: 0;
        transform: scale(1.3,1.3);
	}
}
